@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-info-dark: #7d8da1;
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-light: rgba(0, 0, 0, 0.4);
    --card-border-radius: 2rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    color: var(--color-dark);
    background-color: var(--color-background);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto;
}

aside {
    height: 100vh;
}

aside .toggle {
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .sidebar {
    background-color: var(--color-white);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
}

aside .sidebar a {
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    margin-left: 2rem;
}

main {
    margin-top: 1.4rem;
}

main .analyse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    justify-items: stretch;
    align-items: center;
}

main .analyse > div {
    background-color: var(--color-white);
    padding: var(--padding-1);
    border-radius: var(--card-border-radius);
}

.info1 {
    color: var(--color-info-dark);
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Add other necessary styles here */

